In [1]:
from bs4 import BeautifulSoup as bs
import requests 
import pandas as pd

In [2]:
website = requests.get('https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue').text
Soup = bs(website, 'html.parser')

In [26]:
table = Soup.find_all('table', class_='wikitable sortable')[2]
table_headers = table.find_all('th')
table_text_titles = [title.text.strip() for title in table_headers]
df = pd.DataFrame(columns = table_text_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [27]:
table_rows = table.find_all('tr')
for row in table_rows[1: ]:
    row_data = row.find_all('td')
    table_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = table_data

In [28]:
df

  Rank                Name                 Industry Profits(USD millions)
0    1               Apple              Electronics                96,995
1    2  Berkshire Hathaway             Conglomerate                96,223
2    3            Alphabet               Technology                73,795
3    4           Microsoft               Technology                72,361
4    5      JPMorgan Chase               Financials                49,552
5    6      Meta Platforms               Technology                39,098
6    7          ExxonMobil       Petroleum industry                36,010
7    8   Johnson & Johnson  Pharmaceutical industry                35,153
8    9              Amazon        Retail/Technology                30,425
9   10              Nvidia               Technology                29,760

In [29]:
df.to_csv(r'C:\Users\arzag\Desktop\Web Scraping\List of companies by profit.csv',index=False)